# Ignore the virtualenv files
venv/*

# Ignore pycache
__pycache__/*
apps/__pycache__/*
myscripts/__pycache__/*

# Ignore Mac specific files
.DS_Store

\#*\#
.\#*
*txt

# Ignore the data files
data/*

# Ignore jupyter notebooks
myscripts/*.ipynb
myscripts/.ipynb_checkpoints

# Ignore the C++ binary
bin/*
